<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Font awesome -->
    <link href="../css/all.css" rel="stylesheet" />
    <!-- Main style sheet -->
    <link href="../css/style.css" rel="stylesheet" />
    <title>Product Page</title>
  </head>

  <body>
    <!-- Header -->
    <header class="header" id="header">
      <nav class="nav" id="nav">
        <a href="#"
          ><img src="../images/logo.png" class="logo" alt="site logo"
        /></a>
        <div class="nav_menu" id="nav-menu">
          <ul class="nav_list">
            <li class="nav_item"><a href="#" class="nav_link">Home</a></li>
            <li class="nav_item">
              <a href="#about" class="nav_link">Rental Info</a>
            </li>
            <li class="nav_item">
              <a href="#select" class="nav_link">Pricing</a>
            </li>
            <li class="nav_item">
              <a href="#featured" class="nav_link">Why us</a>
            </li>
            <li class="nav_item">
              <a href="#testimonials" class="nav_link">Testimonials</a>
            </li>
          </ul>
        </div>
        <div class="nav_toggle" id="nav-toggle">
          <i class="fas fa-bars icon"></i>
        </div>
      </nav>
    </header>
    <section class="hero">
        <h1 class="heading">Thank you for Booking with Us</h1>
        <i class="fas fa-check-circle" style="color: green; font-size: 48px;"></i>
        <% if(locals.info) {%>
        <h3><%= info.name %></h3>
        <h2 class="sub-heading">Your ride is confirmed on <small><%= info.date %></small> at <small><%= info.time %></small></h2>
        <h3><strong>Pick-Up Location:</strong></h3>
        <h4><%= info.pickUp %></h4>
        <h3><strong>Drop-Off Location:</strong></h3>
        <h4><%= info.drop %></h4>
        <% } %>
    </section>
</body>
</html>